@keyframes moveCircle1 {
  0% { transform: translateY(0); }
  50% { transform: translateY(-40px); }
  100% { transform: translateY(0); }
}

@keyframes moveCircle2 {
  0% { transform: translateY(0); }
  50% { transform: translateY(40px); }
  100% { transform: translateY(0); }
}

@keyframes moveSquare {
  0% { transform: translateX(0); }
  50% { transform: translateX(-50px); }
  100% { transform: translateX(0); }
}
